html,body {
    background-color: #f7fdf9;
    font-family: Poppins;
    margin: 0px;
    word-spacing: 4px;
    letter-spacing: 1px;
}


nav {
    display: grid;
    justify-content: space-around;
    border-bottom: 1px solid black;
    grid-template-columns: 2.5fr 80% 1fr;
    grid-template-rows: 7rem;
    text-align: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
    position: sticky;
    top: 0;
    z-index: 2;
    backdrop-filter: blur(20px); 
    background-color: rgba(247, 253, 249, 0.75);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}
.nav_col1 {
    font-family: Playfair Display;
    font-weight: 800;
    align-items: center;
    font-size: 2rem;
}
.nav_col1 p {
    margin:0px;
}

.nav_col2 {
    border-left: 1px solid black;
    border-right: 1px solid black;
}


.nav_col3 img{
    width: 3rem;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav a {
    color: black;
    text-decoration: none;
}
nav a:hover{
    box-shadow: inset 0 -1px 0 0 black;
}

nav li {
    float: left;
    padding-right: 5rem;
}

h1 {
    font-family: Playfair Display;
    font-weight: 400;
    word-spacing: 12px;
}

main{
    width: 100%;
    padding: 5rem;
    box-sizing: border-box;
}


header {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(550px,1fr));
    grid-template-rows: auto;
    grid-auto-rows: 500px;
    margin-bottom: 2rem;
}

.presentation {
    grid-column: 1/3;
    width: 2fr;
    margin-right: 2rem;
    margin-bottom: 0px;
}
.presentation h1 {
    font-size:4rem;
    font-family: Poppins;
}
.presentation p{
    margin: 0px;
    font-size: 2rem;
    padding-right: 2rem;
}
.presentation_image {
    grid-column-start: 3;
    justify-self: center;

}
.presentation_image img{
    width: 18.5rem;
    border-radius: 15px;




}
.presentation_rrss {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px;
    grid-template-areas: "Logoss Logoss mail";
}
.presentation_logos {
    grid-area: Logoss;
    padding-left: 0px;
}
.presentation_logos li {
    display: inline-block;
    padding-right: 5rem;
    list-style-type: none;
}
.presentation_logos img {
    width: 3rem;
}
.presentation_gmail {
    font-size: 1.5rem;
    grid-area: mail;
}



.what{
    padding-top: 10rem;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 5rem;
}



.whatido-container{
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
}
.whatido {
    display: grid;
    height: auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    justify-items: center;
    gap:3.5rem;
}
.whatido img {
    width: 8rem;
    padding-bottom: 0.5rem;
}
.whatido h3 {
    font-size: 1.9rem;
}
.whatido p {
    font-size: 1.4rem;
}
.whatido-card{
    width: 100%;
    height: auto;
}




.tech-container{
    padding-top: 1rem;

}
.tech-title {
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.technologies{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 1;
}
.tech{
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr auto;
    height: auto;
}
.technologies div img{
    width: 3.5rem;
}


/*
/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {

PARA RESPONSIVE DE FLEX -> FLEX FDIRECION COLUMN
BREAKPOINT: 973 PX WIDTH

}
/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (max-width:991px) {

/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 992px) {

}
*/
